# Data Science Tools and Ecosystem

# In this notebook, Data Science Tools and Ecosystem are summarized.

__Objective__
##### Unordered List:
###### List popular languages for Data Science
1. Python
2. R
3. SQL
4. Scala
5. Julia
6. C++

# Some of the popular languages that Data Scientists use are:
### Ordered List:
1. Python
2. R
3. SQL

# Some of the commonly used libraries used by Data Scientists include:
### Ordered List:
1. Pandas
2. NumPy
3. Matplotlib
4. Seaborn
5. Scikit-learn
6. ggplot2
7. PyTorch
8. TensorFlow

| Data Science Tools |
| ------------------ |
| Jupeter Notebooks |
| RStudio |
| Apache Spark |
| Ray |

### Below are a few examples of evaluating arithmetic expressions in Python

In [3]:
result = 2*7
print(result)

14

In [6]:
a = 25
b = 12
c = a+b
print(c)

37

In [15]:
# Hi, This is a comment
print("This a simple arithmetic expression to mutiply then add integers")
result = (3*4)+5
print(result)

This a simple arithmetic expression to mutiply then add integers
17

In [16]:
# Hi, This is a comment
print(" This will convert 200 minutes to hours by diving by 60")
hours = 200/60
print(hours)

 This will convert 200 minutes to hours by diving by 60
3.3333333333333335

## Author's Name
### Shiva Verma